@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

body { 
margin-top: 10px;
font-family: 'Quattrocento Sans', sans-serif;
background-image: url("http://suzicurran.github.io/pattern_log.png")
}

a {
color:#000000;
text-decoration:none;
}

a:hover {
color:#9999cc;
border-bottom:#9999cc dashed 1px;
}


p {
background-color: #ccccff; /* light purple, dark = 9999cc*/
color: #585858;
font-size: 12pt;
padding:8px;
text-align:justify;
margin-top:15px;
margin-left:5%;
margin-right:5%;
border-radius:10px;
line-height:160%;
}

ul {
color: #585858;
background-color:#00CBE7;
width:80%;
font-family: tahoma, serif;
font-size: 10pt;
padding:5px;
position:relative;
left:10%;
}

.head {
background-color: #9999cc; /* dark purple, light = ccccff*/
color:#000000;
padding:3px;
text-align:center;
letter-spacing:2px;
border-radius:10px;
}

p.head {
font-weight:bold;
margin-left:8%;
margin-right:8%;
}

span.head {
line-height:200%;
}

.middlecolumn {
	width:50%;
	position:absolute;
	top:25px;
	left:0px;
  margin-left:25%;
  margin-right:25%;
	background-color: #000000;
	border-radius:10px;
}

.fancy {
text-transform: uppercase;
letter-spacing:4px;
font-family:sans;
}

.code {
font-family: monospace;
background-color: #FFAA00;
border: #f7e1e1 dashed 2px;
white-space:pre;
width:600px;
min-height:100px;
height:200px;
padding:4px;
}

img { 
border:0px; 
}

.outline { 
border: #00AAFF solid 1px; 
margin: 3px;
}

.rounded {
/*background-color:black;*/
border: 1px solid #000000;
border-radius:10px;
}